body{
    background-color: rgba(10,10,10);
    color: gray;
}

h1{
    color: #e50914;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 30%;
}

h2{
    text-align: center;
    margin: 0px;
    padding: 10px;
    margin-top: 10px;
}

h3{
    background-color: #e50914;
    display: inline-block;
    width: 200px;
    padding: 5px 15px;
    border-radius: 0px 0px 15px 15px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
}

#descricao{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
    background-image: linear-gradient(to bottom, #303030, rgba(30,30,30));
    width: 100%;
}

nav{
    text-align: end;
    float: right;
}

nav > a{
    color: #e50914;
    margin: 0px 20px;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    transition: all .20s;
    color: gray;
}

figure > img{
    width: 200px;
    margin-top: 20px;
    border-radius: 15px;
    border: 3px solid #e50914;
    box-shadow: 0px 0px 20px red;
}

ul li img{
    width: 150px;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
    background-color: darkgray;
    border-radius: 15px;
}

ul li{
    width: 150px;
    display: inline-block;
    margin: 10px;
}

ul > li:hover img:hover{
    transform: scale(1.1);
    transition: all .5s;
    box-shadow: 0px 0px 30px red;
}

ul > li:hover ~ li img:hover {
    opacity: 0;
    transition: all .5s;
}

#s1{
    height: 500px;
}

#cont{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#s1 > div{
    margin-top: 50px;
}

#cont > div:first-child{
    width: 25%;
    border-radius: 25px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#cont > div:nth-child(2){
    width: 50%;
    height: 150px;
    top: calc(50% - 75px);
    border-radius: 0px 25px 25px 0px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
}

#s1 > div > p{
    text-align: left;
}

figure{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

figcaption{
    margin-top: 10px;
    padding: 0px;
}

p{
    font-size: 20px;
}

b{
    color: lightgray;
}

a{
    color: red;
}

li{
    list-style-type: none;
    padding: 10px;
}

.mini_bar{
    background-color: #e50914;
    height: 5px;
    border-top: 2px solid white;
}

#s2{
    margin-bottom: 50px;
    text-align: center;
}